.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .5rem;
}

.meme_img {
    width: 100%;
    height: 250px;
}
.card-header {
    border-radius: 10px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.err{
    color: red;
    font-size: 20px;
    box-sizing: border-box;
    
}
.author {
    font-size: 18px;
    margin: auto;
}
.time {
    font-size: 12px;
    margin: auto;
}
.time2 {
    font-size: 14px;
    margin: auto;
}

.caption {
    color: gray;
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: large;
    font-family:cursive;
    font-style: inherit;
    font-weight: bold;
}
.img {
    padding: 1px 1px 1px 1px;
}
.hor {
    color: black;
}