.card {
    color:#696969;
    font-size: large;
    font-family: Gill Sans Extrabold, cursive;
    box-shadow: 1px 1px 2px 2px #ccc;
    border: 1px solid #eee;
    box-sizing: border-box;


}

.err{
    color: red;
    font-size: 20px;
    box-sizing: border-box;
    
}
.author {
    font-size: 18px;
    margin: auto;
}
.time {
    font-size: 12px;
    margin: auto;
}
.time2 {
    font-size: 14px;
    margin: auto;
}

.caption {
    color: gray;
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: large;
    font-family:cursive;
    font-style: inherit;
    font-weight: bold;
}
.img {
    padding: 1px 1px 1px 1px;
}
.hor {
    color: black;
}