.footer{
    background-color: #5C5F58;
    margin:0px auto;
    color: floralwhite;
    padding: 2px 0px 2px 0px;
    margin-top: 20px;
  }
  address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
  }
  